<%- include('../parts/html-head') %> <%- include('../parts/html-navbar') %>
<style>
  form .mb-3 .form-text {
    display: none;
    /* color: red; */
  }

  form .mb-3.error input.form-control {
    border: 2px solid red;
  }

  form .mb-3.error .form-text {
    display: block;
    color: red;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增通訊錄</h5>
          <form onsubmit="sendData(event)">
            <div class="mb-3">
              <label for="name" class="form-label">姓名 **</label>
              <input type="text" class="form-control" id="name" name="name" />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">電郵 **</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
              <div class="form-text"></div>
            </div>

            <div class="mb-3">
              <label for="" class="form-label">頭貼</label>
              <br />
              <button
                type="button"
                class="btn btn-warning"
                onclick="event.target.closest('.mb-3').querySelector('input').click()"
              >
                選擇圖檔
              </button>
              <input
                type="file"
                name="avatar"
                accept="image/jpeg,image/png"
                onchange="previewImg(event)"
                hidden
              />
              <div style="width: 20rem">
                <img id="preview" src="" width="100%" />
              </div>
            </div>

            <div class="mb-3">
              <label for="mobile" class="form-label">手機</label>
              <input
                type="text"
                class="form-control"
                id="mobile"
                name="mobile"
                pattern="09\d{8}"
              />
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="birthday" class="form-label">生日</label>
              <input
                type="date"
                class="form-control"
                id="birthday"
                name="birthday"
              />
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">地址</label>
              <textarea
                class="form-control"
                id="address"
                name="address"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">新增</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">新增結果</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">資料新增成功</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          關閉
        </button>
        <a class="btn btn-primary" href="/address-book">回到列表頁</a>
      </div>
    </div>
  </div>
</div>

<%- include('../parts/html-scripts') %>
<script>
  const nameField = document.querySelector("#name");
  const emailField = document.querySelector("#email");
  const myModal = new bootstrap.Modal("#exampleModal");

  function validateEmail(email) {
    // 使用 regular expression 檢查 email 格式正不正確
    const pattern =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return pattern.test(email);
  }

  const sendData = (e) => {
    e.preventDefault(); // 不要讓表單以傳統的方式送出

    nameField.closest(".mb-3").classList.remove("error");
    emailField.closest(".mb-3").classList.remove("error");

    let isPass = true; // 有沒有通過檢查, 預設值是 true
    // TODO: 資料欄位的檢查
    /*
    if (nameField.value.length < 2) {
      isPass = false;
      nameField.nextElementSibling.innerHTML = "請填寫正確的姓名";
      nameField.closest(".mb-3").classList.add("error");
    }

    if (!validateEmail(emailField.value)) {
      isPass = false;
      emailField.nextElementSibling.innerHTML = "請填寫正確的 Email";
      emailField.closest(".mb-3").classList.add("error");
    }
*/
    if (isPass) {
      const fd = new FormData(document.forms[0]);

      fetch(`/address-book/api`, {
        method: "POST",
        body: fd,
      })
        .then((r) => r.json())
        .then((obj) => {
          console.log(obj);
          /*
          if (!obj.success && obj.error) {
            alert(obj.error);
          }
          */
          if (obj.success) {
            myModal.show(); // 呈現 modal
          } else {
            obj.error.issues.forEach((item) => {
              if (item.path[0] === "name") {
                nameField.nextElementSibling.innerHTML = item.message;
                nameField.closest(".mb-3").classList.add("error");
              } else if (item.path[0] === "email") {
                emailField.nextElementSibling.innerHTML = item.message;
                emailField.closest(".mb-3").classList.add("error");
              }
            });
          }
        })
        .catch(console.warn);
    }
  };

  const preview = document.querySelector("#preview"); // img 標籤
  const previewImg = (e) => {
    const file = e.target.files[0];
    if (file) {
      const url = URL.createObjectURL(file);
      preview.src = url;
    } else {
      preview.src = "";
    }
  };
</script>

<%- include('../parts/html-tail') %>
